.user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10%;
	height: 300px;
	.userTop {
		display: flex;
		align-items: center;
		gap: 20px;
		.img {
			border-radius: 5px;
		}
		.userInfo {
			display: flex;
			flex-direction: column;
			gap: 5px;

			> p > span {
				font-size: 15px;
				font-weight: 600;
			}

			.userName {
				font-weight: 700;
				font-size: 18px;
				font-style: oblique;
				color: var(--dark-blue);
				text-transform: capitalize;
				margin-bottom: 15px;
			}
		}
	}

	.addInfo {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		gap: 3px;

		> p > span {
			font-size: 15px;
			font-weight: 600;
		}
	}
}
