.page {
	display: flex;
	flex-direction: column;
	align-content: center;
	.top {
		height: 84px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.navBlock {
		width: 100%;
		height: 90px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: rgb(39, 39, 39);
		.title {
			color: #fff;
			font-size: 18px;
		}
		.menu {
			display: flex;
			gap: 30px;

			& {
				color: rgb(160, 163, 163);
			}
		}

		.buttonWrap {
			> button {
				width: 204px;
				height: 46px;
				color: rgb(160, 163, 163);
				text-transform: uppercase;
				cursor: pointer;
				background-color: rgb(60, 61, 61);
				border-radius: 4px;
				font-size: 1em;
			}
		}
	}
	.navContent {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 1250px;
	}
}