.page {
	display: flex;
	flex-direction: column;
	align-content: center;
	

	.navContent {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.body {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 700px;
	}
}