.item {
	width: 100%;
	max-width: 390px;
	border-radius: 5px;
	border-width: 17px 2px 2px 2px;
	border-color: var(--purple);
	border-style: solid;

	.container {
		border-radius: 5px;
		overflow: hidden;

		> img {
		}
	}

	animation: fadeIn 0.3s ease-in;

	@keyframes fadeIn {
		from {
			opacity: 0;
			transform: translate3d(0, 10px, 0);
		}
		to {
			opacity: 1;
			transform: none;
		}
	}
}
