.item {
	padding: 16px 32px;
	background-color: #fff;
	font-size: 16px;
	line-height: 1.6;
	font-weight: 500;
	color: var(--purple);
	cursor: pointer;

	transition: 0.2s ease;
	&:hover {
		color: var(--purple);
	}
}
