.top {
	padding: 16px 0;
	margin-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.search {
		width: 700px;
		background-color: #eff4f4;
		display: flex;
		align-items: center;
		padding: 13px 16px 11px 18px;
		gap: 16px;
		border-radius: 5px;
		cursor: pointer;

		.input {
			font-size: 15px;
			font-weight: 500;
			line-height: 17px;
			color: var(--dark-blue);
		}

		> svg {
			font-size: 16px;
			color: var(--purple);
		}
	}

	.auth {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}
