.field {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;

	&.year .input {
		max-width: 80px;
	}

	> label {
		margin-bottom: 5px;
		color: var(--dark-blue);
		font-weight: 700;

		.title {
			font-size: 11px;
			line-height: 1.6;
		}
	}

	.input {
		width: 100%;
		height: 40px;
		padding: 0px 12px;
		font-size: 14px;
		line-height: 1.4;
		color: var(--dark-blue);
		border: 1px solid #e0e4eb;
		border-radius: 5px;
		transition: border 0.2s ease-in-out;
		background: #eff1f5;

		&:focus {
			border: 1px solid var(--purple);
		}

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}
	> input[type='number'] {
		max-width: 55px;
	}
}
