.footerBottom {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--purple);

	.icons {
		height: 109px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 40px 20px 35px;
	}
	.iconList {
		display: flex;
		gap: 5px;
		.icon {
			font-size: 25px;
			color: #ffff;
		}
		.icon:hover {
			color: #f3cd47;
			transition: 0.3s ease-in;
		}
	}
	.contentBlock {
		display: flex;
		align-self: center;
		flex-wrap: wrap;
		gap: 100px;
	}
	.line {
		align-self: center;
		margin-top: 25px;
		height: 1px;
		border: 0.5px solid #707373;
		width: 90%;
	}
	.company {
		margin-top: 30px;
		margin-left: 80px;
		line-height: 1.5em;
		color: #d2d6d6;
		font-size: 12px;
	}
}
