.gradeWrap {
	width: 280px;
	height: 122px;
	background-color: #834FE8;
  border-radius: 16px;
	padding: 16px;
	.gradeBlocks {
		display: flex;
		flex-direction: column;
		gap: 2px;
		.block {
			display: flex;
			gap: 5px;
			align-items: center;
			.content {
				display: block;
				.amount {
					font-size: 15px;
    			line-height: 1.3;
    			color: #FFFFFF;
				}
			}
			.contentBlock {
				display: flex;
				gap: 4px;

				.sum {
					font-size: 18px;
   				color: #FFFFFF;
    			font-weight: 600;
				}
				.icon {
					font-size: 15px;
					color: #FED874;
				}
			}
			
		}
	}
}