@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button,
textarea {
	border: 0;
	background: transparent;
	outline: none;
}

body {
	font-family: 'Montserrat', sans-serif;
}

ul,
ol {
	list-style: none;
}
