@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--var-montserrat), sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

input,
button,
textarea {
	border: 0;
	background: transparent;
	outline: none;
}

body {
	font-family: var(--var-montserrat), sans-serif;
}

ul,
ol {
	list-style: none;
}

.wrapper {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0px 24px;
}

:root {
	--dark-blue: #071f45;
	--purple: #6523e3;
	--gray: #eff4f4;
	--swiper-pagination-bullet-inactive-color: #d2d6d6;
	--swiper-pagination-color: #272727;
	--swiper-pagination-bottom: 20px;
}
