.password {
	display: flex;
	flex-direction: column;
	height: 720px;
	padding-left: 18%;

	.inputWrap {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
		gap: 40px;

		> button {
			width: 340px;
			height: 44px;
			background-color:  rgb(101, 35, 227);
			color: #fff;
			font-size: 1em;
			text-transform: uppercase;
			align-self: flex-start;
			border-radius: 2px;
			font-weight: bold;
			cursor: pointer;
		}
	}
}