.forms {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;

	.switch {
		display: flex;
		align-items: center;
		.item {
			width: 220px;
			padding: 14px 2px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: #e0e4eb;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			position: relative;
			z-index: 10;

			border-top: 3px solid transparent;
			cursor: pointer;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			color: #acacad;
			transition: 0.2s ease;

			&:hover {
				color: #071f63;
			}

			&.active {
				z-index: 10;
				background-color: #fff;
				border-top: 3px solid var(--purple);
				font-weight: 700;
				color: #071f63;
				box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
			}
		}
	}

	.form {
		position: relative;
		z-index: 100;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
			rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
		background-color: #fff;
		padding: 50px 32px 32px;
		z-index: 1000;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
	}
}
