.forms {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;

	.switch {
		display: flex;
		align-items: center;
		.item {
			width: 220px;
			padding: 14px 2px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-color: #e0e4eb;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;

			border-top: 3px solid transparent;
			cursor: pointer;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			color: #acacad;
			transition: 0.2s ease;

			&:hover {
				color: #071f63;
			}

			&.active {
				background-color: #fff;
				border-top: 3px solid var(--purple);
				font-weight: 700;
				color: #071f63;
			}
		}
	}

	.form {
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
			rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
		background-color: #fff;
		padding: 50px 32px 32px;
		z-index: 1000;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;

		.textBlock {
			text-align: center;
			margin: 30px auto;

			.text {
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: var(--black);
				text-align: center;
			}
		}

		.buttonBlock {
			margin-top: 30px;
		}
	}
}
