.item {
	width: 100%;
	max-width: 285px;
	height: 370px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 5px;

	> a {
		display: block;
		height: 100%;
		padding-bottom: 20px;

		.background {
			border-radius: 5px;
			width: 100%;
			height: 130px;
			background: #f1f1f1;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
		}

		.logo__box {
			width: 120px;
			height: 120px;
			border-radius: 5px;
			position: relative;
			margin: -50px auto 0 auto;
			background: #fff;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
				rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

			.logo {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&:hover {
		.background {
			filter: brightness(0.8);
		}
	}
}
