.option {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	cursor: pointer;

	> .checkbox {
		position: relative;
		display: flex;
		align-items: center;
		gap: 10px;

		> input {
			position: absolute;
			left: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			z-index: 99;
		}

		> span {
			width: 16px;
			height: 16px;
			border: 2px solid #a2aec3;
			border-radius: 5px;
			transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
			padding: 10px;

			> svg {
				visibility: hidden;
				font-size: 20px;
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
				color: #fff;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}

		margin-right: 15px;
	}

	&.active {
		.checkbox span {
			background: var(--purple);
			border-color: var(--purple);

			> svg {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	> span {
		font-size: 16px;
		line-height: 1.4;
		font-weight: 500;
	}

	&:hover {
		.checkbox {
			> span {
			}
		}
	}
}
