.progressbar {
	width: 374px;
	height: 8px;
	background-color: var(--gray);
	display: flex;
	border-radius: 8px;

	.progress {
		width: 75%;
		height: 100%;
		background-color: var(--purple);
		border-radius: 8px;
	}
}
